In [2]:
import pandas as pd
import random 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
df = pd.read_csv("Reviews.csv", encoding='latin1')

In [42]:
df.columns = df.columns.str.strip()

In [43]:
df.head()

,Location_Name,Located_City,Location,Location_Type,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,Title,Text
0,Arugam Bay,Arugam Bay,"Arugam Bay, Eastern Province",Beaches,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,Best nail spa in Arugam bay on the water!,I had a manicure here and it really was profes...
1,Arugam Bay,Arugam Bay,"Arugam Bay, Eastern Province",Beaches,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,Best for surfing,"Overall, it is a wonderful experience. We visi..."
2,Arugam Bay,Arugam Bay,"Arugam Bay, Eastern Province",Beaches,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,We Love Arugam Bay,"Great place to chill, swim, surf, eat, shop, h..."
3,Arugam Bay,Arugam Bay,"Arugam Bay, Eastern Province",Beaches,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,Sun and waves.,Good place for surf and a few stores to going ...
4,Arugam Bay,Arugam Bay,"Arugam Bay, Eastern Province",Beaches,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,"Great swimming, surfing, great fish aznd frien...",This place is great for surfing but even if yo...

In [44]:
df.columns

Index(['Location_Name', 'Located_City', 'Location', 'Location_Type', 'User_ID',
       'User_Location', 'User_Locale', 'User_Contributions', 'Travel_Date',
       'Published_Date', 'Rating', 'Helpful_Votes', 'Title', 'Text'],
      dtype='object')

In [45]:
df.shape

(16156, 14)

In [46]:
df["Location_Type"].unique()

array(['Beaches', 'Bodies of Water', 'Farms', 'Gardens', 'Historic Sites',
       'Museums', 'National Parks', 'Nature & Wildlife Areas',
       'Waterfalls', 'Zoological Gardens', 'Religious Sites'],
      dtype=object)

In [47]:
df.columns

Index(['Location_Name', 'Located_City', 'Location', 'Location_Type', 'User_ID',
       'User_Location', 'User_Locale', 'User_Contributions', 'Travel_Date',
       'Published_Date', 'Rating', 'Helpful_Votes', 'Title', 'Text'],
      dtype='object')

In [48]:
df.drop(['Location_Name', 'Located_City', 'Location', 'Location_Type',  'Title', 'Text'], axis=1, inplace=True)

In [49]:
df["User_ID"].unique()

array(['User 1', 'User 2', 'User 3', ..., 'User 10473', 'User 10474',
       'User 10475'], dtype=object)

In [50]:
df = df.drop_duplicates(subset="User_ID", keep='first')

In [51]:
df.shape

(10475, 8)

In [52]:
n_rows = len(df)

# Generate values for the ranges
values_0_10 = np.random.randint(0, 11, size=int(n_rows * 0.8))  # 80% values between 0 and 10
values_10_15 = np.random.randint(10, 16, size=int(n_rows * 0.2))  # 20% values between 10 and 15

# Combine the values and shuffle them
all_values = np.concatenate([values_0_10, values_10_15])
np.random.shuffle(all_values)  # Shuffle to mix the values

# Add the new column to the dataframe
df['number_of_times_abroad'] = all_values

In [55]:
df = df.reset_index(drop=True)

In [ ]:
# df['Country'] = df['User_Location'].str.split(',').str[-1].str.strip()

In [77]:
# df.drop("Country", axis=1, inplace=True)

In [78]:
len(df)

10475

In [79]:
df[8500:]

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad
8500,User 8501,"Newcastle upon Tyne, United Kingdom",en_UK,1,18-Jul,2018-08-13T13:13:20-04:00,5,2,6
8501,User 8502,"Birmingham, United Kingdom",en_UK,23,19-Feb,2019-02-27T04:44:47-05:00,5,0,2
8502,User 8503,"Northwich, United Kingdom",en_US,57,19-Feb,2019-02-02T02:15:42-05:00,4,1,4
8503,User 8504,Colombo,en_US,42,16-Nov,2017-04-18T01:09:01-04:00,4,0,3
8504,User 8505,"Dhaka City, Bangladesh",en_US,4,17-Mar,2017-04-04T10:49:58-04:00,5,0,5
...,...,...,...,...,...,...,...,...,...
10470,User 10471,"Edmonton, Canada",en_CA,61,14-Dec,2015-07-16T16:40:07-04:00,4,0,3
10471,User 10472,"Framingham, Massachusetts",en_US,48,15-May,2015-06-19T11:53:32-04:00,5,0,2
10472,User 10473,"Los Angeles, California",en_US,2,15-Apr,2015-05-11T03:17:30-04:00,5,0,2
10473,User 10474,"Bern, Switzerland",en_US,9,15-Mar,2015-04-08T01:56:47-04:00,5,2,5
10474,User 10475,"Mumbai, Maharashtra, India",en_IN,47,14-Dec,2015-02-22T05:41:58-05:00,5,0,7

In [80]:
data =df[:8500]

In [81]:
data

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad
0,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,2
1,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,5
2,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,0
3,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,7
4,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,4
...,...,...,...,...,...,...,...,...,...
8495,User 8496,"Toronto, Canada",en_US,31,18-Dec,2018-12-14T22:02:58-05:00,4,0,6
8496,User 8497,"York, United Kingdom",en_UK,267,18-Nov,2018-12-04T07:06:44-05:00,2,0,6
8497,User 8498,"Bristol, United Kingdom",en_US,52,18-Nov,2018-11-18T22:18:52-05:00,5,4,4
8498,User 8499,"Malaga, Spain",en_US,329,18-Oct,2018-10-07T04:13:45-04:00,4,1,3
8499,User 8500,Christchurch,en_US,25,18-Aug,2018-08-16T21:17:07-04:00,5,0,6

In [82]:
import pandas as pd
import numpy as np

# Assuming `data` is your existing DataFrame
num_rows = len(data)
categories = ["Adventure & Active", "Cultural & Heritage", "Luxury & Relaxation", "Budget Travelers", "Business & Work-Related"]

# Calculate the number of rows per category
rows_per_category = num_rows // len(categories)

# Create a list of categories repeated equally
balanced_categories = categories * rows_per_category

# If there are leftover rows, add random categories to make up the remainder
remainder = num_rows % len(categories)
if remainder > 0:
    balanced_categories += list(np.random.choice(categories, remainder, replace=False))

# Shuffle the list to distribute randomly
np.random.shuffle(balanced_categories)

# Assign the balanced categories to the new column
data["Category"] = balanced_categories

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\2718079690.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Category"] = balanced_categories

In [87]:
data["Category"].value_counts()

Category
Budget Travelers           1700
Luxury & Relaxation        1700
Cultural & Heritage        1700
Business & Work-Related    1700
Adventure & Active         1700
Name: count, dtype: int64

In [89]:
import pandas as pd
import numpy as np

# Define age ranges for each category
age_ranges = {
    "Adventure & Active": (18, 32),
    "Cultural & Heritage": (18, 70),
    "Luxury & Relaxation": (40, 70),
    "Budget Travelers": (18, 70),
    "Business & Work-Related": (25, 55)
}

# Function to generate age based on category, avoiding too many ages between 60-70
def generate_age(category):
    min_age, max_age = age_ranges[category]
    if max_age > 60:  # For ranges that include 60-70
        ages = list(range(min_age, max_age + 1))
        probabilities = [0.9 if age < 60 else 0.1 for age in ages]  # More weight for ages below 60
        probabilities = np.array(probabilities) / sum(probabilities)  # Normalize probabilities
        age = np.random.choice(ages, p=probabilities)
    else:
        age = np.random.randint(min_age, max_age + 1)
    return age

# Assign random ages based on category
data["Age"] = data["Category"].apply(generate_age)

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\2944659370.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Age"] = data["Category"].apply(generate_age)

In [90]:
data

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad,Category,Age
0,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,2,Budget Travelers,52
1,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,5,Budget Travelers,59
2,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,0,Budget Travelers,59
3,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,7,Luxury & Relaxation,58
4,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,4,Cultural & Heritage,39
...,...,...,...,...,...,...,...,...,...,...,...
8495,User 8496,"Toronto, Canada",en_US,31,18-Dec,2018-12-14T22:02:58-05:00,4,0,6,Cultural & Heritage,31
8496,User 8497,"York, United Kingdom",en_UK,267,18-Nov,2018-12-04T07:06:44-05:00,2,0,6,Adventure & Active,19
8497,User 8498,"Bristol, United Kingdom",en_US,52,18-Nov,2018-11-18T22:18:52-05:00,5,4,4,Business & Work-Related,50
8498,User 8499,"Malaga, Spain",en_US,329,18-Oct,2018-10-07T04:13:45-04:00,4,1,3,Adventure & Active,32
8499,User 8500,Christchurch,en_US,25,18-Aug,2018-08-16T21:17:07-04:00,5,0,6,Budget Travelers,39

In [ ]:
# data.drop("Travel Style", axis=1, inplace=True)

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\2873551834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop("Travel Style", axis=1, inplace=True)

In [94]:
travel_style_probs = {
    "Adventure & Active": {"solo": 0.3, "couples": 0.1, "group": 0.6},
    "Cultural & Heritage": {"solo": 0.33, "couples": 0.33, "group": 0.34},
    "Luxury & Relaxation": {"solo": 0.4, "couples": 0.4, "group": 0.2},
    "Budget Travelers": {"solo": 0.7, "couples": 0.2, "group": 0.1},
    "Business & Work-Related": {"solo": 0.3, "couples": 0.0, "group": 0.7},
}

# Function to adjust probabilities based on age
def adjust_probs_by_age(category, age):
    base_probs = travel_style_probs[category]
    adjusted_probs = base_probs.copy()
    
    if age > 55:
        # Reduce probability of 'solo' and 'couples', increase 'group'
        if "solo" in adjusted_probs:
            adjusted_probs["solo"] *= 0.5
        if "couples" in adjusted_probs:
            adjusted_probs["couples"] *= 0.5
        if "group" in adjusted_probs:
            adjusted_probs["group"] += 0.5 * (adjusted_probs["solo"] + adjusted_probs["couples"])
    
    # Normalize probabilities to ensure they sum to 1
    total = sum(adjusted_probs.values())
    for key in adjusted_probs:
        adjusted_probs[key] /= total
    
    return adjusted_probs

# Function to assign travel style based on category and age
def assign_travel_style(row):
    category = row["Category"]
    age = row["Age"]
    adjusted_probs = adjust_probs_by_age(category, age)
    
    styles = list(adjusted_probs.keys())
    probabilities = list(adjusted_probs.values())
    return np.random.choice(styles, p=probabilities)

# Apply function to create "Travel Style" column
data["Travel Style"] = data.apply(assign_travel_style, axis=1)

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\1836868732.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Travel Style"] = data.apply(assign_travel_style, axis=1)

In [98]:
data[data["Age"]>=55]["Travel Style"].value_counts()

Travel Style
group      508
solo       323
couples    224
Name: count, dtype: int64

In [92]:
data

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad,Category,Age,Travel Style
0,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,2,Budget Travelers,52,couples
1,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,5,Budget Travelers,59,solo
2,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,0,Budget Travelers,59,solo
3,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,7,Luxury & Relaxation,58,couples
4,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,4,Cultural & Heritage,39,group
...,...,...,...,...,...,...,...,...,...,...,...,...
8495,User 8496,"Toronto, Canada",en_US,31,18-Dec,2018-12-14T22:02:58-05:00,4,0,6,Cultural & Heritage,31,group
8496,User 8497,"York, United Kingdom",en_UK,267,18-Nov,2018-12-04T07:06:44-05:00,2,0,6,Adventure & Active,19,group
8497,User 8498,"Bristol, United Kingdom",en_US,52,18-Nov,2018-11-18T22:18:52-05:00,5,4,4,Business & Work-Related,50,group
8498,User 8499,"Malaga, Spain",en_US,329,18-Oct,2018-10-07T04:13:45-04:00,4,1,3,Adventure & Active,32,solo
8499,User 8500,Christchurch,en_US,25,18-Aug,2018-08-16T21:17:07-04:00,5,0,6,Budget Travelers,39,solo

In [99]:
import pandas as pd
import numpy as np

# Define duration ranges (in days) based on category and travel style
duration_ranges = {
    "Adventure & Active": {
        "solo": (5, 10),
        "group": (10, 20),
        "couples": (7, 14)
    },
    "Cultural & Heritage": {
        "solo": (5, 14),
        "group": (7, 14),
        "couples": (7, 14)
    },
    "Luxury & Relaxation": {
        "solo": (5, 10),
        "group": (7, 14),
        "couples": (7, 14)
    },
    "Budget Travelers": {
        "solo": (5, 10),
        "group": (5, 8),
        "couples": (4, 9)
    },
    "Business & Work-Related": {
        "solo": (2, 5),
        "group": (2, 7)
    }
}

# Function to generate duration with extended ranges for certain categories
def assign_duration(row):
    category = row["Category"]
    travel_style = row["Travel Style"]
    
    if category in ["Cultural & Heritage", "Budget Travelers"]:
        # Use weighted probabilities for these categories
        probabilities = [0.6, 0.25, 0.1, 0.05]  # 60% standard, 25% 14-28, 10% 28-42, 5% 42-60
        ranges = [
            duration_ranges[category][travel_style],  # Standard range
            (14, 28),  # 14-28 days
            (28, 42),  # 28-42 days
            (42, 60)   # 42-60 days
        ]
        
        selected_range = ranges[np.random.choice(len(ranges), p=probabilities)]
        min_days, max_days = selected_range
        return np.random.randint(min_days, max_days + 1)
    
    else:
        # Use standard range for other categories
        min_days, max_days = duration_ranges[category][travel_style]
        return np.random.randint(min_days, max_days + 1)

# Apply function to create "Duration of Stay (Days)" column
data["Duration of Stay (Days)"] = data.apply(assign_duration, axis=1)

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\853878236.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Duration of Stay (Days)"] = data.apply(assign_duration, axis=1)

In [100]:
data

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad,Category,Age,Travel Style,Duration of Stay (Days)
0,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,2,Budget Travelers,52,solo,9
1,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,5,Budget Travelers,59,solo,10
2,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,0,Budget Travelers,59,group,17
3,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,7,Luxury & Relaxation,58,solo,6
4,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,4,Cultural & Heritage,39,group,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8495,User 8496,"Toronto, Canada",en_US,31,18-Dec,2018-12-14T22:02:58-05:00,4,0,6,Cultural & Heritage,31,solo,10
8496,User 8497,"York, United Kingdom",en_UK,267,18-Nov,2018-12-04T07:06:44-05:00,2,0,6,Adventure & Active,19,solo,7
8497,User 8498,"Bristol, United Kingdom",en_US,52,18-Nov,2018-11-18T22:18:52-05:00,5,4,4,Business & Work-Related,50,solo,5
8498,User 8499,"Malaga, Spain",en_US,329,18-Oct,2018-10-07T04:13:45-04:00,4,1,3,Adventure & Active,32,group,18
8499,User 8500,Christchurch,en_US,25,18-Aug,2018-08-16T21:17:07-04:00,5,0,6,Budget Travelers,39,solo,8

In [101]:
data.rename(columns={'OldDuration of Stay (Days)': 'Duration of Stay'}, inplace=True)

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\1774795461.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'OldDuration of Stay (Days)': 'Duration of Stay'}, inplace=True)

In [ ]:
data['Duration of Stay (Days)'].value_counts()

In [104]:
def convert_to_month_week_day_format(days):
    # Calculate months, weeks, and days
    months = days // 30  # 1 month = 30 days
    days -= months * 30
    weeks = days // 7  # 1 week = 7 days
    days -= weeks * 7
    
    # Construct the duration string in "1m2w3d" format
    duration_str = f"{months}m{weeks}w{days}d"
    return duration_str

# Apply function to convert the "Duration of Stay (Days)" to "1m2w3d" format
data["Duration of Stay (Days)"] = data["Duration of Stay (Days)"].apply(convert_to_month_week_day_format)

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\2787095273.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Duration of Stay (Days)"] = data["Duration of Stay (Days)"].apply(convert_to_month_week_day_format)

In [105]:
data

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad,Category,Age,Travel Style,Duration of Stay (Days)
0,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,2,Budget Travelers,52,solo,0m1w2d
1,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,5,Budget Travelers,59,solo,0m1w3d
2,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,0,Budget Travelers,59,group,0m2w3d
3,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,7,Luxury & Relaxation,58,solo,0m0w6d
4,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,4,Cultural & Heritage,39,group,0m1w4d
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8495,User 8496,"Toronto, Canada",en_US,31,18-Dec,2018-12-14T22:02:58-05:00,4,0,6,Cultural & Heritage,31,solo,0m1w3d
8496,User 8497,"York, United Kingdom",en_UK,267,18-Nov,2018-12-04T07:06:44-05:00,2,0,6,Adventure & Active,19,solo,0m1w0d
8497,User 8498,"Bristol, United Kingdom",en_US,52,18-Nov,2018-11-18T22:18:52-05:00,5,4,4,Business & Work-Related,50,solo,0m0w5d
8498,User 8499,"Malaga, Spain",en_US,329,18-Oct,2018-10-07T04:13:45-04:00,4,1,3,Adventure & Active,32,group,0m2w4d
8499,User 8500,Christchurch,en_US,25,18-Aug,2018-08-16T21:17:07-04:00,5,0,6,Budget Travelers,39,solo,0m1w1d

In [106]:
# Define income ranges based on category and age
income_ranges = {
    "Adventure & Active": {
        "18-30": (1500, 2500),
        "31-50": (2000, 3500),
        "51+": (3000, 4500)
    },
    "Cultural & Heritage": {
        "18-30": (2500, 3500),
        "31-50": (3000, 4500),
        "51+": (3500, 5500)
    },
    "Luxury & Relaxation": {
        "18-30": (4000, 6000),
        "31-50": (5000, 8000),
        "51+": (6000, 10000)
    },
    "Budget Travelers": {
        "18-30": (1200, 2000),
        "31-50": (1500, 2500),
        "51+": (2000, 3000)
    },
    "Business & Work-Related": {
        "18-30": (3500, 6000),
        "31-50": (4000, 7500),
        "51+": (5000, 8000)
    }
}

# Function to assign monthly income based on category and age
def assign_monthly_income(row):
    category = row["Category"]
    age = row["Age"]
    
    # Define age group based on age column
    if age <= 30:
        age_group = "18-30"
    elif 31 <= age <= 50:
        age_group = "31-50"
    else:
        age_group = "51+"
    
    # Get the income range for the specific category and age group
    min_income, max_income = income_ranges[category].get(age_group, (2000, 5000))
    
    # Randomly select an income within the range
    return np.random.randint(min_income, max_income + 1)

# Apply function to create "Monthly Income" column
data["Monthly Income"] = data.apply(assign_monthly_income, axis=1)

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\589463769.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Monthly Income"] = data.apply(assign_monthly_income, axis=1)

In [108]:
data.rename(columns={'Monthly Income': 'Monthly Income (USD)'}, inplace=True)

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\261174693.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'Monthly Income': 'Monthly Income (USD)'}, inplace=True)

In [109]:
data

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad,Category,Age,Travel Style,Duration of Stay (Days),Monthly Income (USD)
0,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,2,Budget Travelers,52,solo,0m1w2d,2527
1,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,5,Budget Travelers,59,solo,0m1w3d,2168
2,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,0,Budget Travelers,59,group,0m2w3d,2392
3,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,7,Luxury & Relaxation,58,solo,0m0w6d,8353
4,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,4,Cultural & Heritage,39,group,0m1w4d,3006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8495,User 8496,"Toronto, Canada",en_US,31,18-Dec,2018-12-14T22:02:58-05:00,4,0,6,Cultural & Heritage,31,solo,0m1w3d,3306
8496,User 8497,"York, United Kingdom",en_UK,267,18-Nov,2018-12-04T07:06:44-05:00,2,0,6,Adventure & Active,19,solo,0m1w0d,1651
8497,User 8498,"Bristol, United Kingdom",en_US,52,18-Nov,2018-11-18T22:18:52-05:00,5,4,4,Business & Work-Related,50,solo,0m0w5d,4715
8498,User 8499,"Malaga, Spain",en_US,329,18-Oct,2018-10-07T04:13:45-04:00,4,1,3,Adventure & Active,32,group,0m2w4d,3017
8499,User 8500,Christchurch,en_US,25,18-Aug,2018-08-16T21:17:07-04:00,5,0,6,Budget Travelers,39,solo,0m1w1d,1813

In [110]:
data["Category"].unique()

array(['Budget Travelers', 'Luxury & Relaxation', 'Cultural & Heritage',
       'Business & Work-Related', 'Adventure & Active'], dtype=object)

In [111]:
import numpy as np
import pandas as pd

# Sample DataFrame (assuming 'Category' column already exists)
# Define the activities for each category
activities_dict = {
    "Budget Travelers": ["Beaches", "Wildlife Safaris", "Hill Country", "Waterfalls", "Local Food", "Train Rides", "Camping"],
    "Luxury & Relaxation": ["Beaches", "Hill Country", "Ayurvedic Spas", "Boutique Hotels", "Whale Watching", "Lake and River"],
    "Cultural & Heritage": ["Ancient Cities", "Religious Sites", "Cultural Festivals", "Colonial Heritage", "Local Culinary Experiences"],
    "Business & Work-Related": ["Shopping", "Events", "Cultural Highlights", "Urban Attractions"],
    "Adventure & Active": ["Hiking and Trekking", "Water Sports", "Whale and Dolphin Watching", "Camping", "Wildlife Safaris"]
}

# Function to assign three unique preferred activities
def assign_preferred_activities(row):
    category = row["Category"]
    # Get the list of activities for the category
    activities = activities_dict[category]
    
    # Randomly shuffle the activities to avoid duplication
    np.random.shuffle(activities)
    
    # Assign the first three unique activities
    return pd.Series([activities[0], activities[1], activities[2]], index=["Preferred Activities 1", "Preferred Activities 2", "Preferred Activities 3"])

# Apply the function to assign the activities
data[["Preferred Activities 1", "Preferred Activities 2", "Preferred Activities 3"]] = data.apply(assign_preferred_activities, axis=1)

# Display the DataFrame
print(data.head())

  User_ID           User_Location User_Locale  User_Contributions Travel_Date  \
0  User 1  Dunsborough, Australia       en_US                   8      19-Jul
1  User 2      Bendigo, Australia       en_US                   4      19-Jun
2  User 3    Melbourne, Australia       en_US                  13      19-Jul
3  User 4      Ericeira, Portugal       en_US                   4      19-Jun
4  User 5          Pistoia, Italy       en_US                  14      19-Jul

              Published_Date  Rating  Helpful_Votes  number_of_times_abroad  \
0  2019-07-31T07:53:21-04:00       5              1                       2
1  2019-07-21T21:50:11-04:00       4              0                       5
2  2019-07-15T18:52:55-04:00       5              0                       0
3  2019-07-03T10:32:41-04:00       5              0                       7
4  2019-07-02T17:07:02-04:00       5              0                       4

              Category  Age Travel Style Duration of Stay (Days)  \
0     Budget Travelers   52         solo                  0m1w2d
1     Budget Travelers   59         solo                  0m1w3d
2     Budget Travelers   59        group                  0m2w3d
3  Luxury & Relaxation   58         solo                  0m0w6d
4  Cultural & Heritage   39        group                  0m1w4d

   Monthly Income (USD) Preferred Activities 1 Preferred Activities 2  \
0                  2527             Local Food           Hill Country
1                  2168             Waterfalls                Beaches
2                  2392             Local Food             Waterfalls
3                  8353         Ayurvedic Spas        Boutique Hotels
4                  3006         Ancient Cities      Colonial Heritage

  Preferred Activities 3
0       Wildlife Safaris
1            Train Rides
2                Camping
3           Hill Country
4     Cultural Festivals

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\2970524157.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[["Preferred Activities 1", "Preferred Activities 2", "Preferred Activities 3"]] = data.apply(assign_preferred_activities, axis=1)
C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\2970524157.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[["Preferred Activities 1", "Preferred Activities 2", "Preferred Activities 3"]] = data.apply(assign_preferred_activities, axis=1)
C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\2970524157.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[["Preferred Activities 1", "Preferred Activities 2", "Preferred Activities 3"]] = data.apply(assign_preferred_activities, axis=1)

In [112]:
data

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad,Category,Age,Travel Style,Duration of Stay (Days),Monthly Income (USD),Preferred Activities 1,Preferred Activities 2,Preferred Activities 3
0,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,2,Budget Travelers,52,solo,0m1w2d,2527,Local Food,Hill Country,Wildlife Safaris
1,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,5,Budget Travelers,59,solo,0m1w3d,2168,Waterfalls,Beaches,Train Rides
2,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,0,Budget Travelers,59,group,0m2w3d,2392,Local Food,Waterfalls,Camping
3,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,7,Luxury & Relaxation,58,solo,0m0w6d,8353,Ayurvedic Spas,Boutique Hotels,Hill Country
4,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,4,Cultural & Heritage,39,group,0m1w4d,3006,Ancient Cities,Colonial Heritage,Cultural Festivals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8495,User 8496,"Toronto, Canada",en_US,31,18-Dec,2018-12-14T22:02:58-05:00,4,0,6,Cultural & Heritage,31,solo,0m1w3d,3306,Ancient Cities,Colonial Heritage,Cultural Festivals
8496,User 8497,"York, United Kingdom",en_UK,267,18-Nov,2018-12-04T07:06:44-05:00,2,0,6,Adventure & Active,19,solo,0m1w0d,1651,Camping,Hiking and Trekking,Water Sports
8497,User 8498,"Bristol, United Kingdom",en_US,52,18-Nov,2018-11-18T22:18:52-05:00,5,4,4,Business & Work-Related,50,solo,0m0w5d,4715,Cultural Highlights,Shopping,Urban Attractions
8498,User 8499,"Malaga, Spain",en_US,329,18-Oct,2018-10-07T04:13:45-04:00,4,1,3,Adventure & Active,32,group,0m2w4d,3017,Wildlife Safaris,Camping,Water Sports
8499,User 8500,Christchurch,en_US,25,18-Aug,2018-08-16T21:17:07-04:00,5,0,6,Budget Travelers,39,solo,0m1w1d,1813,Hill Country,Wildlife Safaris,Beaches

In [113]:

season_mapping = {
    "Adventure & Active": ["Summer", "Fall"],
    "Luxury & Relaxation": ["Winter", "Spring"],
    "Cultural & Heritage": ["Spring", "Fall"],
    "Business & Work-Related": ["Spring", "Fall"],
    "Budget Travelers": ["Summer", "Fall"]
}


def assign_travel_season(row):
    category = row["Category"]
    # Select a random season based on the category
    return np.random.choice(season_mapping[category])

# Function to assign a random travel season
def assign_random_season(row):
    # List of all possible seasons
    all_seasons = ["Winter", "Spring", "Summer", "Fall"]
    # Select a random season from all available
    return np.random.choice(all_seasons)

# Randomly select 80% of the rows to follow the category-based seasons
mask_category_based = np.random.rand(len(data)) < 0.8

# Apply the category-based season assignment to 80% of rows
data["Preferred Travel Season"] = np.where(mask_category_based,
                                           data.apply(assign_travel_season, axis=1),
                                           data.apply(assign_random_season, axis=1))

# Display the updated DataFrame

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\4262169314.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Preferred Travel Season"] = np.where(mask_category_based,

In [114]:
data

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad,Category,Age,Travel Style,Duration of Stay (Days),Monthly Income (USD),Preferred Activities 1,Preferred Activities 2,Preferred Activities 3,Preferred Travel Season
0,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,2,Budget Travelers,52,solo,0m1w2d,2527,Local Food,Hill Country,Wildlife Safaris,Summer
1,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,5,Budget Travelers,59,solo,0m1w3d,2168,Waterfalls,Beaches,Train Rides,Summer
2,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,0,Budget Travelers,59,group,0m2w3d,2392,Local Food,Waterfalls,Camping,Fall
3,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,7,Luxury & Relaxation,58,solo,0m0w6d,8353,Ayurvedic Spas,Boutique Hotels,Hill Country,Winter
4,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,4,Cultural & Heritage,39,group,0m1w4d,3006,Ancient Cities,Colonial Heritage,Cultural Festivals,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8495,User 8496,"Toronto, Canada",en_US,31,18-Dec,2018-12-14T22:02:58-05:00,4,0,6,Cultural & Heritage,31,solo,0m1w3d,3306,Ancient Cities,Colonial Heritage,Cultural Festivals,Spring
8496,User 8497,"York, United Kingdom",en_UK,267,18-Nov,2018-12-04T07:06:44-05:00,2,0,6,Adventure & Active,19,solo,0m1w0d,1651,Camping,Hiking and Trekking,Water Sports,Summer
8497,User 8498,"Bristol, United Kingdom",en_US,52,18-Nov,2018-11-18T22:18:52-05:00,5,4,4,Business & Work-Related,50,solo,0m0w5d,4715,Cultural Highlights,Shopping,Urban Attractions,Fall
8498,User 8499,"Malaga, Spain",en_US,329,18-Oct,2018-10-07T04:13:45-04:00,4,1,3,Adventure & Active,32,group,0m2w4d,3017,Wildlife Safaris,Camping,Water Sports,Summer
8499,User 8500,Christchurch,en_US,25,18-Aug,2018-08-16T21:17:07-04:00,5,0,6,Budget Travelers,39,solo,0m1w1d,1813,Hill Country,Wildlife Safaris,Beaches,Summer

In [115]:

# Sample DataFrame (assuming 'Category' and 'Travel Style' columns already exist)

# Define the list of transportation modes
transportation_modes = {
    "Budget Travelers": {
        "solo": ["Public-Bus", "Tuk-tuk", "Train", "Bike"],
        "group": ["AC-Bus", "Public-Bus", "Van", "Train"],
        "couples": ["Uber", "Car", "PickMe", "Public-Bus", "Train", "Bike"]
    },
    "Luxury & Relaxation": {
        "solo": ["Uber", "Car", "Van", "AC-Bus"],
        "group": ["Van", "AC-Bus", "Uber", "Car"],
        "couples": ["Car", "PickMe", "Uber", "Van"]
    },
    "Adventure & Active": {
        "solo": ["Bike", "scooter", "Train", "Van", "Car"],
        "group": ["Van", "Train", "AC-Bus", "Car", "Public-Bus"],
        "couples": ["Car", "PickMe", "Van", "Bike"]
    },
    "Cultural & Heritage": {
        "solo": ["Train", "AC-Bus", "Public-Bus", "Van"],
        "group": ["AC-Bus", "Van", "Public-Bus", "Car"],
        "couples": ["Car", "PickMe", "Van", "Uber"]
    },
    "Business & Work-Related": {
        "solo": ["Car", "Uber", "PickMe", "Van"],
        "group": ["Van", "Car", "PickMe", "Uber"],
        "couples": ["Uber", "Car", "PickMe", "Van"]
    }
}

# Function to assign a transportation mode based on Category and Travel Style
def assign_transportation_mode(row):
    category = row["Category"]
    travel_style = row["Travel Style"]
    
    # Select the appropriate transportation modes for the category and travel style
    modes = transportation_modes[category][travel_style]
    
    # Randomly assign a transportation mode from the filtered list
    return np.random.choice(modes)

# Apply the function to assign the preferred transportation mode
data["Preferred Mode of Transportation"] = data.apply(assign_transportation_mode, axis=1)

# Display the updated DataFrame

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\9854330.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Preferred Mode of Transportation"] = data.apply(assign_transportation_mode, axis=1)

In [116]:
data

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad,Category,Age,Travel Style,Duration of Stay (Days),Monthly Income (USD),Preferred Activities 1,Preferred Activities 2,Preferred Activities 3,Preferred Travel Season,Preferred Mode of Transportation
0,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,2,Budget Travelers,52,solo,0m1w2d,2527,Local Food,Hill Country,Wildlife Safaris,Summer,Tuk-tuk
1,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,5,Budget Travelers,59,solo,0m1w3d,2168,Waterfalls,Beaches,Train Rides,Summer,Train
2,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,0,Budget Travelers,59,group,0m2w3d,2392,Local Food,Waterfalls,Camping,Fall,Van
3,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,7,Luxury & Relaxation,58,solo,0m0w6d,8353,Ayurvedic Spas,Boutique Hotels,Hill Country,Winter,Uber
4,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,4,Cultural & Heritage,39,group,0m1w4d,3006,Ancient Cities,Colonial Heritage,Cultural Festivals,Spring,Public-Bus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8495,User 8496,"Toronto, Canada",en_US,31,18-Dec,2018-12-14T22:02:58-05:00,4,0,6,Cultural & Heritage,31,solo,0m1w3d,3306,Ancient Cities,Colonial Heritage,Cultural Festivals,Spring,AC-Bus
8496,User 8497,"York, United Kingdom",en_UK,267,18-Nov,2018-12-04T07:06:44-05:00,2,0,6,Adventure & Active,19,solo,0m1w0d,1651,Camping,Hiking and Trekking,Water Sports,Summer,Car
8497,User 8498,"Bristol, United Kingdom",en_US,52,18-Nov,2018-11-18T22:18:52-05:00,5,4,4,Business & Work-Related,50,solo,0m0w5d,4715,Cultural Highlights,Shopping,Urban Attractions,Fall,Car
8498,User 8499,"Malaga, Spain",en_US,329,18-Oct,2018-10-07T04:13:45-04:00,4,1,3,Adventure & Active,32,group,0m2w4d,3017,Wildlife Safaris,Camping,Water Sports,Summer,Public-Bus
8499,User 8500,Christchurch,en_US,25,18-Aug,2018-08-16T21:17:07-04:00,5,0,6,Budget Travelers,39,solo,0m1w1d,1813,Hill Country,Wildlife Safaris,Beaches,Summer,Train

In [117]:
import numpy as np
import pandas as pd



# Function to assign Tech Savviness based on Age and Category
def assign_tech_savvy(row):
    age = row["Age"]
    category = row["Category"]
    
    # Assign based on Age
    if age <= 35:
        tech_savvy = "High"
    elif age <= 50:
        tech_savvy = "Medium"
    else:
        tech_savvy = "Low"
    
    # Adjust based on Category
    if category == "Business & Work-Related":
        tech_savvy = "High"  # Business travelers are likely tech-savvy
    elif category == "Adventure & Active":
        if tech_savvy != "Low":
            tech_savvy = "Medium"  # Generally tech-savvy, but some may be less so
    elif category == "Luxury & Relaxation":
        if tech_savvy == "Low" and age < 50:
            tech_savvy = "Medium"  # Some luxury travelers may still be tech-savvy
    elif category == "Cultural & Heritage":
        if tech_savvy == "High":
            tech_savvy = "Medium"  # Generally, tech-savviness is medium for this category
    
    return tech_savvy

# Apply the function to assign the Tech Savvy column
data["Tech Savvy"] = data.apply(assign_tech_savvy, axis=1)

# Display the updated DataFrame

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\600451648.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Tech Savvy"] = data.apply(assign_tech_savvy, axis=1)

In [118]:
import numpy as np
import pandas as pd

# Sample DataFrame (assuming 'Category' and 'Travel Style' columns already exist)

# Define accommodation types based on category and travel style
accommodation_types = {
    "Adventure & Active": {
        "solo": ["Camping", "Hostel", "Guesthouse"],
        "group": ["Camping", "Hostel", "Guesthouse"],
        "couples": ["Hostel", "Camping", "Guesthouse"]
    },
    "Cultural & Heritage": {
        "solo": ["Guesthouse", "Motel", "Hotel"],
        "group": ["Guesthouse", "Hotel", "Motel"],
        "couples": ["Hotel", "Guesthouse"]
    },
    "Luxury & Relaxation": {
        "solo": ["Resort", "Hotel", "Guesthouse"],
        "group": ["Resort", "Hotel", "Guesthouse"],
        "couples": ["Resort", "Hotel", "Guesthouse"]
    },
    "Budget Travelers": {
        "solo": ["Hostel", "Motel", "Guesthouse", "Camping"],
        "group": ["Hostel", "Motel", "Camping", "Guesthouse"],
        "couples": ["Hostel", "Motel", "Guesthouse"]
    },
    "Business & Work-Related": {
        "solo": ["Hotel", "Motel", "Resort"],
        "group": ["Hotel", "Motel", "Resort"],
        "couples": ["Hotel", "Motel", "Resort"]
    }
}

# Function to assign accommodation type based on Category and Travel Style
def assign_accommodation_type(row):
    category = row["Category"]
    travel_style = row["Travel Style"]
    
    # Select the appropriate accommodation types for the category and travel style
    options = accommodation_types[category][travel_style]
    
    # Randomly assign an accommodation type from the filtered list
    return np.random.choice(options)

# Apply the function to assign the accommodation type
data["Accommodation Type"] = data.apply(assign_accommodation_type, axis=1)

# Display the updated DataFrame

C:\Users\Hashan\AppData\Local\Temp\ipykernel_12188\3243072377.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Accommodation Type"] = data.apply(assign_accommodation_type, axis=1)

In [119]:
data

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad,Category,...,Travel Style,Duration of Stay (Days),Monthly Income (USD),Preferred Activities 1,Preferred Activities 2,Preferred Activities 3,Preferred Travel Season,Preferred Mode of Transportation,Tech Savvy,Accommodation Type
0,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,2,Budget Travelers,...,solo,0m1w2d,2527,Local Food,Hill Country,Wildlife Safaris,Summer,Tuk-tuk,Low,Camping
1,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,5,Budget Travelers,...,solo,0m1w3d,2168,Waterfalls,Beaches,Train Rides,Summer,Train,Low,Guesthouse
2,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,0,Budget Travelers,...,group,0m2w3d,2392,Local Food,Waterfalls,Camping,Fall,Van,Low,Hostel
3,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,7,Luxury & Relaxation,...,solo,0m0w6d,8353,Ayurvedic Spas,Boutique Hotels,Hill Country,Winter,Uber,Low,Hotel
4,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,4,Cultural & Heritage,...,group,0m1w4d,3006,Ancient Cities,Colonial Heritage,Cultural Festivals,Spring,Public-Bus,Medium,Motel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8495,User 8496,"Toronto, Canada",en_US,31,18-Dec,2018-12-14T22:02:58-05:00,4,0,6,Cultural & Heritage,...,solo,0m1w3d,3306,Ancient Cities,Colonial Heritage,Cultural Festivals,Spring,AC-Bus,Medium,Motel
8496,User 8497,"York, United Kingdom",en_UK,267,18-Nov,2018-12-04T07:06:44-05:00,2,0,6,Adventure & Active,...,solo,0m1w0d,1651,Camping,Hiking and Trekking,Water Sports,Summer,Car,Medium,Hostel
8497,User 8498,"Bristol, United Kingdom",en_US,52,18-Nov,2018-11-18T22:18:52-05:00,5,4,4,Business & Work-Related,...,solo,0m0w5d,4715,Cultural Highlights,Shopping,Urban Attractions,Fall,Car,High,Hotel
8498,User 8499,"Malaga, Spain",en_US,329,18-Oct,2018-10-07T04:13:45-04:00,4,1,3,Adventure & Active,...,group,0m2w4d,3017,Wildlife Safaris,Camping,Water Sports,Summer,Public-Bus,Medium,Camping
8499,User 8500,Christchurch,en_US,25,18-Aug,2018-08-16T21:17:07-04:00,5,0,6,Budget Travelers,...,solo,0m1w1d,1813,Hill Country,Wildlife Safaris,Beaches,Summer,Train,Medium,Camping

In [131]:
result = pd.concat([data, df[8500:9000]], axis=0, ignore_index=True)

In [120]:
data.columns

Index(['User_ID', 'User_Location', 'User_Locale', 'User_Contributions',
       'Travel_Date', 'Published_Date', 'Rating', 'Helpful_Votes',
       'number_of_times_abroad', 'Category', 'Age', 'Travel Style',
       'Duration of Stay (Days)', 'Monthly Income (USD)',
       'Preferred Activities 1', 'Preferred Activities 2',
       'Preferred Activities 3', 'Preferred Travel Season',
       'Preferred Mode of Transportation', 'Tech Savvy', 'Accommodation Type'],
      dtype='object')

In [ ]:
data= data[['User_ID', 'User_Location', 'User_Locale', 'User_Contributions',
       'Travel_Date', 'Published_Date', 'Rating', 'Helpful_Votes',
       'number_of_times_abroad', 'Age', 'Travel Style',
       'Duration of Stay (Days)', 'Monthly Income (USD)',
       'Preferred Activities 1', 'Preferred Activities 2',
       'Preferred Activities 3', 'Preferred Travel Season',
       'Preferred Mode of Transportation', 'Tech Savvy', 'Accommodation Type', 'Category']]

In [124]:
result

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad,Category,...,Travel Style,Duration of Stay (Days),Monthly Income (USD),Preferred Activities 1,Preferred Activities 2,Preferred Activities 3,Preferred Travel Season,Preferred Mode of Transportation,Tech Savvy,Accommodation Type
0,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,2,Budget Travelers,...,solo,0m1w2d,2527.0,Local Food,Hill Country,Wildlife Safaris,Summer,Tuk-tuk,Low,Camping
1,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,5,Budget Travelers,...,solo,0m1w3d,2168.0,Waterfalls,Beaches,Train Rides,Summer,Train,Low,Guesthouse
2,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,0,Budget Travelers,...,group,0m2w3d,2392.0,Local Food,Waterfalls,Camping,Fall,Van,Low,Hostel
3,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,7,Luxury & Relaxation,...,solo,0m0w6d,8353.0,Ayurvedic Spas,Boutique Hotels,Hill Country,Winter,Uber,Low,Hotel
4,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,4,Cultural & Heritage,...,group,0m1w4d,3006.0,Ancient Cities,Colonial Heritage,Cultural Festivals,Spring,Public-Bus,Medium,Motel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10470,User 10471,"Edmonton, Canada",en_CA,61,14-Dec,2015-07-16T16:40:07-04:00,4,0,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10471,User 10472,"Framingham, Massachusetts",en_US,48,15-May,2015-06-19T11:53:32-04:00,5,0,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10472,User 10473,"Los Angeles, California",en_US,2,15-Apr,2015-05-11T03:17:30-04:00,5,0,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10473,User 10474,"Bern, Switzerland",en_US,9,15-Mar,2015-04-08T01:56:47-04:00,5,2,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10474,User 10475,"Mumbai, Maharashtra, India",en_IN,47,14-Dec,2015-02-22T05:41:58-05:00,5,0,7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
def fill_nulls_with_random(df):
    """
    Fill NaN values in a DataFrame with random values from the same column.

    Parameters:
    df (pd.DataFrame): Input DataFrame with potential NaN values.

    Returns:
    pd.DataFrame: DataFrame with NaN values filled.
    """
    filled_df = df.copy()  # Create a copy to avoid modifying the original DataFrame

    for column in filled_df.columns:
        if filled_df[column].isnull().any():  # Check if the column has NaN values
            # Get the non-null values for the column
            non_null_values = filled_df[column].dropna()
            
            # Replace NaN values with random choice from the non-null values
            filled_df[column] = filled_df[column].apply(
                lambda x: np.random.choice(non_null_values) if pd.isnull(x) else x
            )

    return filled_df

In [133]:
new= fill_nulls_with_random(result)
new

,User_ID,User_Location,User_Locale,User_Contributions,Travel_Date,Published_Date,Rating,Helpful_Votes,number_of_times_abroad,Category,...,Travel Style,Duration of Stay (Days),Monthly Income (USD),Preferred Activities 1,Preferred Activities 2,Preferred Activities 3,Preferred Travel Season,Preferred Mode of Transportation,Tech Savvy,Accommodation Type
0,User 1,"Dunsborough, Australia",en_US,8,19-Jul,2019-07-31T07:53:21-04:00,5,1,2,Budget Travelers,...,solo,0m1w2d,2527.0,Local Food,Hill Country,Wildlife Safaris,Summer,Tuk-tuk,Low,Camping
1,User 2,"Bendigo, Australia",en_US,4,19-Jun,2019-07-21T21:50:11-04:00,4,0,5,Budget Travelers,...,solo,0m1w3d,2168.0,Waterfalls,Beaches,Train Rides,Summer,Train,Low,Guesthouse
2,User 3,"Melbourne, Australia",en_US,13,19-Jul,2019-07-15T18:52:55-04:00,5,0,0,Budget Travelers,...,group,0m2w3d,2392.0,Local Food,Waterfalls,Camping,Fall,Van,Low,Hostel
3,User 4,"Ericeira, Portugal",en_US,4,19-Jun,2019-07-03T10:32:41-04:00,5,0,7,Luxury & Relaxation,...,solo,0m0w6d,8353.0,Ayurvedic Spas,Boutique Hotels,Hill Country,Winter,Uber,Low,Hotel
4,User 5,"Pistoia, Italy",en_US,14,19-Jul,2019-07-02T17:07:02-04:00,5,0,4,Cultural & Heritage,...,group,0m1w4d,3006.0,Ancient Cities,Colonial Heritage,Cultural Festivals,Spring,Public-Bus,Medium,Motel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,User 8996,"Riyadh, Saudi Arabia",en_US,31,18-Jun,2018-06-21T00:36:54-04:00,5,2,3,Budget Travelers,...,solo,0m1w2d,1912.0,Ancient Cities,Beaches,Whale and Dolphin Watching,Spring,Tuk-tuk,Medium,Guesthouse
8996,User 8997,"London, United Kingdom",en_US,68,18-Apr,2018-05-27T13:27:05-04:00,4,1,6,Business & Work-Related,...,solo,0m0w5d,2372.0,Colonial Heritage,Boutique Hotels,Hill Country,Winter,Van,Medium,Hotel
8997,User 8998,"Dublin, Ireland",en_US,20,18-Apr,2018-05-23T13:09:06-04:00,4,0,0,Luxury & Relaxation,...,solo,0m1w1d,2341.0,Lake and River,Whale and Dolphin Watching,Local Culinary Experiences,Winter,PickMe,Low,Motel
8998,User 8999,"Utrecht, The Netherlands",en_US,151,18-Mar,2018-04-01T08:33:48-04:00,5,0,2,Business & Work-Related,...,solo,0m1w0d,6232.0,Wildlife Safaris,Urban Attractions,Hill Country,Summer,Van,High,Motel
8999,User 9000,"Saskatoon, Canada",en_US,284,18-Jan,2018-03-17T10:17:42-04:00,5,0,6,Cultural & Heritage,...,solo,0m0w5d,7138.0,Beaches,Colonial Heritage,Shopping,Fall,Uber,Medium,Hotel

In [134]:
new = new[['User_ID', 'User_Location', 'User_Locale', 'User_Contributions',
       'Travel_Date', 'Published_Date', 'Rating', 'Helpful_Votes',
       'number_of_times_abroad', 'Age', 'Travel Style',
       'Duration of Stay (Days)', 'Monthly Income (USD)',
       'Preferred Activities 1', 'Preferred Activities 2',
       'Preferred Activities 3', 'Preferred Travel Season',
       'Preferred Mode of Transportation', 'Tech Savvy', 'Accommodation Type', 'Category']]

In [135]:
new.to_csv("tourist_details.csv", index=False)